

<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
  <% @article.each do |articles| %>
  <tr>
    <td><strong><%= articles.title %></strong></td>
    <td><strong><%= articles.description %></strong></td>
    <td>some action</td>
  </tr>
      <% end %>
</tbody>

</table>
<br>
